<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
{% extends 'todo/base.html' %}

{% block content%}

Completed

<ul>
    {% for todo in todos %}
    <li>
        <a href="{% url 'viewtodo' todo.id %}">
        {% if todo.important %}<b>{% endif %}{{ todo.title }}{% if todo.important %}</b>{% endif %}
        {% if todo.memo %} - {{ todo.memo }}{% endif %}
        {{ todo.datecompleted|date:'M j Y H:i' }}
        </a>
    </li>

    {% endfor %}
</ul>

{% endblock %}